/*
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
*/
:root {
	--app-body-bg: var(--light);
	--app-body-color: var(--dark);
	--app-card-mx: 0.5rem;
	--app-card-my: 2rem;
	--app-card-px: 1.5rem;
	--app-card-py: 2rem;
    --app-container-pt: 3.75rem;
    --app-container-pr: 1.75rem;
    --app-container-pb: 3.75rem;
    --app-container-pl: 1.75rem;
    --app-container-mt: 0.5rem;
    --app-container-mr: 0.5rem;
	--app-container-mb: 0.5rem;
    --app-container-ml: 0.5rem;
	--app-container-gx: 1rem;
	--app-container-gy: 1rem;
    --section-padding-top: 5.55rem;
    --app-header-padding: 0.75rem 1.65rem;
    --app-gap: 0.5rem;
    --app-border: solid 0.35rem;
    --app-border-radius: 0.5rem;
    --dark: rgb(15, 30, 30);
    --dark-2: rgb(30, 50, 50);
    --dark-3: rgb(30, 79, 79);
    --light: rgb(255, 255, 255);
    --light-2: rgb(225, 225, 225);
    --light-3: rgb(200, 200, 200);
    --app-border-dark: var(--primary);
    --app-border-light: var(--tertiary);
    --primary: rgb(255 232 31);
    --secondary: rgb(124, 197, 124);
    --tertiary: rgb(46 85 124);
    --primary-rgb: 255, 232, 31;
    --secondary-rgb: 124, 197, 124;
    --tertiary-rgb: 46, 85, 124;
    --bg-primary: var(--light);
    --bg-secondary: var(--light-2);
    --bg-tertiary: var(--light-3);
    --bg-primary-dark: var(--dark);
    --bg-secondary-dark: var(--dark-2);
    --bg-tertiary-dark: var(--dark-3);
    --app-color-transition: 0.4s ease;
    --link-padding: 0.15rem 0.5rem;
    --app-box-shadow: rgba(0, 0, 0, 0.63) 0px 3px 8px;
}  

/*
Source - https://stackoverflow.com/a/35256494
Posted by JamieC, modified by community. See post 'Timeline' for change history
Retrieved 2026-04-23, License - CC BY-SA 4.0
*/

html {
  box-sizing: border-box;
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: border-box;
}


body {
    background-color: var(--light);
    font-family: sans-serif;
    color: var(--dark);
    margin: 0;
    padding: 0;
    width: 100vw;
	overflow: hidden scroll;
}

body.dark-theme, body[data-theme="dark"] {
    background-color: var(--dark);
    color: var(--light);
    --bg-primary: var(--dark);
    --bg-secondary: var(--dark-2);
    --bg-tertiary: var(--dark-3);
    --color-primary: var(--light);
    --color-secondary: var(--light-2);
    --color-tertiary: var(--light-3);
}

.container {
    max-width: 100%;
    padding: var(--container-pad);

}


.container.box {
    width: 320px;
}

.container-float {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	padding: 0 !important;
}


.container-float.container-float-top {
	top: 5rem;
}

.container-float.container-float-center {
	left: 50%;
	transform: translate(-50%);
}

div#page-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
}

@media screen  and (min-width: 765px) {
    div#page-wrapper {
        flex-direction: row;
    }
}

.main-content {
	overflow: hidden;
}
section:not(#hero-section) {
    position: relative;
    padding-top: var(--section-padding-top);
    max-width: 100%;
	
}
section.bg-primary {
    background-color: var(--bg-primary);
}
section.bg-secondary {
    background-color: var(--bg-secondary);
}
section.bg-tertiary {
    background-color: var(--bg-tertiary);
}
section.section-app {
	position: relative;
	min-height: 100vh;
}
.section-app#hero-section {
	padding-top: 4rem;
	height: fit-content;
}
.section-app#hero-section .section-img {
	max-height: 100vh;
}

section.section-app img.section-img {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 50%;
	right: 0;
	width: 100%;
	object-fit: cover;	
	height: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.section-app .section-wave {
	position: absolute;
	left: 0;
	right: 0;
	top: -0.25rem;
	max-height: 50px;
	width: 100%;
	z-index: 3;
}


.section-app .section-wave-180 {
	transform: rotateY(180deg) rotateZ(180deg);
}

.section-app .section-wave.bottom {
	bottom: 0;
	top: auto;
}

.section-app .section-wave .section-app-svg {
	height: 100%;
	fill: #ffffff;
}

.container {
	width: 100%;
	margin: var(--app-container-mt) var(--app-container-mr) var(--app-container-mb) var(--app-container-ml);
	padding: var(--app-container-pt) var(--app-container-pr) var(--app-container-pb) var(--app-container-pl);
}

.container-sm {
	max-width: 570px;
}

.row {
	--gutter-x: 1.5rem;
	--gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--gutter-y) * -1);
	margin-right: calc(var(--gutter-x) *-0.5);
	margin-left: calc(var(--gutter-x) *-0.5);
}

.row>.col {
	padding: calc(var(--app-container-gy) * .5) calc(var(--app-container-gx) * .5);
	max-width: 100%;
	width: 100%;
}

.gx-5 {
	--app-container-gx: 3rem;
	--app-container-gy: 3rem;
}
.col {
	flex: 1 0 0%;
}

.card-item, .card {
	position: relative;
	height: fit-content;
	width: fit-content;
	border: var(--app-border);
	border-radius: var(--app-border-radius);
	border-color: var(--primary);
	padding: var(--app-card-py) var(--app-card-px) !important;
	margin: var(--app-card-my) var(--app-card-mx)  !important;
	background-color: var(--app-body-bg);
	color: inherit;
}

.card-item
{
	flex: 1 0 0%;
	height: fit-content;
	width: fit-content;
	height: 160px;
	width: 120px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


.card-item .card-item-img {
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: all 0.4s ease;
}

.card-item .card-item-modal {
	position: absolute;
	z-index: 300;
	top: 0; left: 0; right: 0; bottom: 0;
	text-align: center;
	align-items: center;
	opacity: 0;
	transition: all 0.4s ease;
}

.card-item .card-item-modal .card-item-modal-bg {
	position: absolute;
	z-index: -1;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0.7;
	background-color: lightslategray;
}

.card-item .card-item-modal .card-item-modal-content {
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-item:hover .card-item-img
{
	transform: scale(1.2);
}

.card-item:hover .card-item-modal {
	opacity: 1;
}

.d-flex-resp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.d-flex-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--app-gap);
}

@media only screen and (min-width: 576px) {
    .d-flex-resp {
        flex-direction: row;
    }
    .container.box {
        width: 550px;
    }
}
@media only screen and (min-width: 768px) {
    .container.box {
        width: 760px;
    }
}

@media only screen and (min-width: 1024px) {
    .container.box {
        width: 960px;
    }
}
/* .container:hover {
    scale: 1.2;
    cursor: pointer;
} */

