.mw-80
{
	max-width: 80% !important;
}

.h-300 {
	height: 300px !important;
}

.h-600 {
	height: 600px !important;
}

.position-relative {
	position: relative;
}

.p-0 {
	padding: 0 !important;
}

.m-0 {
	margin: 0 !important;
}

.border-none {
	border: none !important;
}

.bg-body {
	background-color: var(--app-body-bg) !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.margin-auto {
	margin: 0 auto !important;
}